[Unit]
Description=DHCP Relay Agent Daemon
Documentation=man:dhcrelay(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/dhcrelay -d --no-pid -i br-ctlplane 192.168.250.10
StandardError=null

[Install]
WantedBy=multi-user.target
