[Unit]
Description=DHCP Relay Agent Daemon
Documentation=man:dhcrelay(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
{% if inventory_hostname == 'localhost' %}
ExecStart=/usr/sbin/dhcrelay -d --no-pid 192.168.24.1 192.168.24.5 -iu br-ctlplane -id {{ external_if }}
{% else %}
ExecStart=/usr/sbin/dhcrelay -d --no-pid {{ hostvars[localhost]['ansible_'~external_if].ipv4.address }} -id br-ctlplane
{% endif %}
StandardError=null

[Install]
WantedBy=multi-user.target
