[Unit]
Description=DHCP Relay Agent Daemon
Documentation=man:dhcrelay(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
{% if inventory_hostname == 'localhost' %}
{% if ansible_distribution_version == '7.9' %}
ExecStart=/usr/sbin/dhcrelay -d {{ DefaultLeaf0.subnet.cidr | ipaddr('1') | ipaddr('address') }} {{ DefaultLeaf0.subnet.dhcp_start }} -i {{ external_if }}
{% else %}
ExecStart=/usr/sbin/dhcrelay -d {{ DefaultLeaf0.subnet.cidr | ipaddr('1') | ipaddr('address') }} {{ DefaultLeaf0.subnet.dhcp_start }} -iu br-ctlplane -id {{ external_if }}
{% endif %}
{% else %}
{% if ansible_distribution_version == '7.9' %}
ExecStart=/usr/sbin/dhcrelay -d {{ hostvars['localhost']['ansible_'~external_if].ipv4.address }} -i br-ctlplane
{% else %}
ExecStart=/usr/sbin/dhcrelay -d {{ hostvars['localhost']['ansible_'~external_if].ipv4.address }} -id br-ctlplane -iu {{ hypervisor_external_if }}
{% endif %}
{% endif %}
StandardError=null

[Install]
WantedBy=multi-user.target
