<domain type="kvm">
  <name>{{ item.name }}</name>
  <title>{{ item.libvirt.title }}</title>
  <metadata>
    <libosinfo:libosinfo xmlns:libosinfo="http://libosinfo.org/xmlns/libvirt/domain/1.0">
      <libosinfo:os id="http://redhat.com/rhel/{{ RHOSP_version_supported[RHOSP_version].rhel_release }}"/>
    </libosinfo:libosinfo>
  </metadata>
  <memory>{{ item.libvirt.memory }}</memory>
  <currentMemory>{{ item.libvirt.memory }}</currentMemory>
  <vcpu placement="static">{{ item.libvirt.cpus }}</vcpu>
  <os{% if (item.pm.mode | default('bios')) == 'uefi' and (ansible_distribution_major_version | int >= 9) %} firmware="efi"{% endif %}>
    <type arch="x86_64" machine="q35">hvm</type>
{% if (item.pm.mode | default('bios')) == 'uefi' %}
{% if ansible_distribution_major_version | int >= 9 %}
    {# RHEL 9/10: let libvirt pick the OVMF descriptor (firmware="efi" above);
       just declare non-secure-boot and a per-VM nvram store. #}
    <loader secure="no"/>
    <nvram>{{ pool_location }}/{{ item.name }}_VARS.fd</nvram>
{% else %}
    <loader readonly='yes' secure='no' type='pflash'>{{ RHEL_version_supported[ansible_distribution_version].ovmf_path }}OVMF_CODE.secboot.fd</loader>
    <nvram template='{{ RHEL_version_supported[ansible_distribution_version].ovmf_path }}OVMF_VARS.fd'>{{ pool_location }}/{{ item.name }}_VARS.fd</nvram>
{% endif %}
{% endif %}
    <bootmenu enable="no"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <vmport state="off"/>
  </features>
{% if 'compute' in item.openstack.role %}
  <cpu mode="host-passthrough" check="partial"/>
{% else %}
  <cpu mode="host-model" check="partial"/>
{% endif %}
  <clock offset="utc">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>
  <devices>
{% set ns = namespace(disk_idx=0) %}
{% for disk in item.libvirt.disks %}
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="{{ pool_location }}/{{ item.name }}_{{ 'root' if disk.root | default(false) else 'data' ~ loop.index0 }}.qcow2"/>
{% if disk.root | default(false) and item.pre_provisioned | default(false) %}
      <backingStore type="file">
        <format type="qcow2"/>
        <source file="{{ pool_location }}/{{ RHOSP_version_supported[RHOSP_version].rhel_image.name }}"/>
      </backingStore>
{% endif %}
      <target dev="vd{{ 'abcdefghij'[ns.disk_idx] }}" bus="virtio"/>
    </disk>
{% set ns.disk_idx = ns.disk_idx + 1 %}
{% endfor %}
{% if item.pre_provisioned | default(false) %}
    <disk type="file" device="cdrom">
      <driver name="qemu" type="raw"/>
      <source file="{{ pool_location }}/{{ item.name }}-init.iso"/>
      <target dev="sda" bus="sata"/>
      <readonly/>
    </disk>
    <controller type="usb" model="qemu-xhci" ports="15"/>
{% endif %}
{% for iface in item.libvirt.network.interfaces %}
    <interface type="bridge">
      <mac address="{{ iface.mac }}"/>
      <source bridge="{{ iface.bridge }}"/>
      <model type="e1000e"/>
    </interface>
{% endfor %}
    <console type="pty"/>
    <channel type="unix">
      <source mode="bind"/>
      <target type="virtio" name="org.qemu.guest_agent.0"/>
    </channel>
    <input type="tablet" bus="usb"/>
    {# SPICE/QXL were removed from qemu-kvm in RHEL 10 and are deprecated in
       RHEL 9; use VNC + virtio graphics, which work across 8/9/10 hosts. #}
    <graphics type="vnc" port="-1" autoport="yes" listen="127.0.0.1"/>
    <video>
      <model type="virtio"/>
    </video>
    <memballoon model="virtio"/>
    <rng model="virtio">
      <backend model="random">/dev/urandom</backend>
    </rng>
  </devices>
</domain>
