<network>
  <name>{{ item.name }}</name>
  <bridge name="{{ item.bridge }}" {% if item.forward != 'bridge' and item.forward != 'open' %}stp="on" delay="0" {% endif %}/>
{% if item.forward %}
  <forward mode="{{ item.forward }}">
    {% if item.forward == 'nat' %}
    <nat>
      <port start="1024" end="65535"/>
    </nat>
    {% endif %}
  </forward>
{% endif %}
{% if item.ipv4 is defined and item.forward != 'bridge' %}
  <ip address="{{ item.ipv4.address }}" netmask="{{ item.ipv4.netmask }}">
    {% if item.ipv4.dhcp %}
    <dhcp>
      <range start="{{ item.ipv4.dhcp.start }}" end="{{ item.ipv4.dhcp.end }}" />
      {% if item.ipv4.dhcp.hosts %}
      {% for vm in vms if (vm.nics[item.name] is defined) and (vm.nics[item.name] != '') %}
      <host mac="{{ vm.mac }}:{{ item.mac_suffix }}" name="{{ vm.name }}" ip="{{ vm.nics[item.name] }}"/>
      {% endfor %}
      {% endif %}
    </dhcp>
    {% endif %}
  </ip>
{% endif %}
</network>