#cloud-config
system_info:
  default_user:
    name: {{ ci_user }}
users:
  - name: {{ ci_user }}
    gecos: OpenStack Admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
chpasswd:
  list: |
    root:{{ VmRootPassword }}
    {{ ci_user }}:{{ VmStackPassword }}
  expire: False
ssh_pwauth: True
