#cloud-config
system_info:
  default_user:
    name: stack
users:
  - name: stack
    gecos: OpenStack Admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ ssh_public_key }}
chpasswd:
  list: |
    root:redhat
    stack:redhat
  expire: False
ssh_pwauth: True
