{% raw %}---
{% set mtu_list = [ctlplane_mtu] %}
{% for network in role_networks if network != 'External' %}
{{ mtu_list.append(lookup('vars', networks_lower[network] ~ '_mtu')) }}
{%- endfor %}
{% set min_viable_mtu = mtu_list | max %}
{% endraw %}
network_config:
{#- The bridges for this role come from RoleBridgeMappings[<role>], falling back  #}
{#- to RoleBridgeMappings.Default. `native` is the untagged network whose IP sits #}
{#- on the bridge (CtlPlane => ctlplane address + DNS); `vlans` are the tagged    #}
{#- sub-interfaces. Per-network values (IP/MTU/VLAN id) are resolved on the       #}
{#- overcloud node by os-net-config, so they are emitted as literal Jinja that a  #}
{#- second render pass expands - the VLAN loops iterate role_networks there.      #}
{%- set role_bridges = RoleBridgeMappings[item.name] | default(RoleBridgeMappings['Default']) %}
{%- for bridge in role_bridges %}
{%- if bridge.type == 'sriov_pf' %}
- type: sriov_pf
  name: {{ bridge.name }}
  numvfs: {{ bridge.numvfs }}
  promisc: true
  use_dhcp: false
  nm_controlled: true
  mtu: {{ "{{ lookup('vars', networks_lower['External'] ~ '_mtu') }}" }}
  defroute: false
{%- if bridge.link_mode is defined %}
  link_mode: {{ bridge.link_mode }}
{%- endif %}
{%- else %}
{%- if bridge.native is defined and bridge.native == 'CtlPlane' %}
{%- set mem_mtu = "{{ min_viable_mtu }}" %}
{%- elif bridge.native is defined and bridge.native in roles_networks[item.name] %}
{%- set mem_mtu = "{{ lookup('vars', networks_lower['" ~ bridge.native ~ "'] ~ '_mtu') }}" %}
{%- else %}
{%- set mem_mtu = '' %}
{%- endif %}
- type: {{ bridge.type }}
  name: {{ bridge.name }}
{%- if bridge.native is defined and bridge.native == 'CtlPlane' %}
  mtu: {{ "{{ min_viable_mtu }}" }}
  use_dhcp: false
  dns_servers: {{ "{{ ctlplane_dns_nameservers }}" }}
  domain: {{ "{{ dns_search_domains }}" }}
  addresses:
  - ip_netmask: {{ "{{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}" }}
  routes: {{ "{{ ctlplane_host_routes }}" }}
{%- elif bridge.native is defined and bridge.native in roles_networks[item.name] %}
  mtu: {{ "{{ lookup('vars', networks_lower['" ~ bridge.native ~ "'] ~ '_mtu') }}" }}
  use_dhcp: false
  addresses:
  - ip_netmask: {{ "{{ lookup('vars', networks_lower['" ~ bridge.native ~ "'] ~ '_ip') }}/{{ lookup('vars', networks_lower['" ~ bridge.native ~ "'] ~ '_cidr') }}" }}
  routes: {{ "{{ lookup('vars', networks_lower['" ~ bridge.native ~ "'] ~ '_host_routes') }}" }}
{%- else %}
  use_dhcp: false
{%- endif %}
{%- if bridge.members is defined %}
  members:
{%- for member in bridge.members %}
{%- if member is string %}
{%- if 'v' in member %}
  - type: sriov_vf
    device: {{ member.split('v')[0] }}
    vfid: {{ member.split('v')[1] }}
{%- else %}
  - type: interface
    name: {{ member }}
{%- if mem_mtu %}
    mtu: {{ mem_mtu }}
{%- endif %}
{%- if loop.first %}
    # force the MAC address of the bridge to this interface
    primary: true
{%- endif %}
{%- endif %}
{%- else %}
  - type: {{ member.type }}
{%- if member.name is defined %}
    name: {{ member.name }}
{%- endif %}
{%- if member.type == 'ovs_dpdk_bond' %}
    mtu: {{ member.mtu | default(9000) }}
    rx_queue: {{ member.rx_queue | default(1) }}
    ovs_extra:
{%- for p in member.members %}
      - set Interface {{ p.name }} options:n_rxq_desc=4096
      - set Interface {{ p.name }} options:n_txq_desc=4096
{%- endfor %}
{%- endif %}
{%- if member.members is defined %}
    members:
{%- for p in member.members %}
    - type: {{ p.type }}
      name: {{ p.name }}
{%- if p.driver is defined %}
      driver: {{ p.driver }}
{%- endif %}
{%- if p.members is defined %}
      members:
{%- for sub in p.members %}
{%- if 'v' in sub %}
      - type: sriov_vf
        device: {{ sub.split('v')[0] }}
        vfid: {{ sub.split('v')[1] }}
{%- else %}
      - type: interface
        name: {{ sub }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- set vl = roles_networks[item.name] | select('in', bridge.vlans | default([])) | list %}
{%- if vl %}
{{ "{% for network in role_networks if network in '" ~ (vl | join(',')) ~ "' %}" }}
{%- if bridge.type == 'linux_bridge' %}
- type: vlan
  device: {{ bridge.name }}
  mtu: {{ "{{ lookup('vars', networks_lower[network] ~ '_mtu') }}" }}
  vlan_id: {{ "{{ lookup('vars', networks_lower[network] ~ '_vlan_id') }}" }}
  addresses:
  - ip_netmask:
      {{ "{{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}" }}
  routes: {{ "{{ lookup('vars', networks_lower[network] ~ '_host_routes') }}" }}
{%- else %}
  - type: vlan
    mtu: {{ "{{ lookup('vars', networks_lower[network] ~ '_mtu') }}" }}
    vlan_id: {{ "{{ lookup('vars', networks_lower[network] ~ '_vlan_id') }}" }}
    addresses:
    - ip_netmask:
        {{ "{{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}" }}
    routes: {{ "{{ lookup('vars', networks_lower[network] ~ '_host_routes') }}" }}
{%- endif %}
{{ "{% endfor %}" }}
{%- endif %}
{%- endif %}
{%- endfor %}
