---
{% set mtu_list = [ctlplane_mtu] %}
{% for network in role_networks %}
{% if networks_lower[network] != 'external' %}
{{ mtu_list.append(lookup('vars', networks_lower[network] ~ '_mtu')) }}
{% endif %}
{% endfor %}
{% set min_viable_mtu = mtu_list | max %}
network_config:
- type: ovs_bridge
  name: br-vlans
  mtu: {{ min_viable_mtu }}
  use_dhcp: false
  dns_servers: {{ ctlplane_dns_nameservers }}
  domain: {{ dns_search_domains }}
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}
  routes: {{ ctlplane_host_routes }}
  members:
  - type: interface
    name: nic1
    mtu: {{ min_viable_mtu }}
    # force the MAC address of the bridge to this interface
    primary: true
{% for network in role_networks %}
{% if networks_lower[network] != 'external' %}
  - type: vlan
    mtu: {{ lookup('vars', networks_lower[network] ~ '_mtu') }}
    vlan_id: {{ lookup('vars', networks_lower[network] ~ '_vlan_id') }}
    addresses:
    - ip_netmask:
        {{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}
    routes: {{ lookup('vars', networks_lower[network] ~ '_host_routes') }}
{% endif %}
{% endfor %}
- type: ovs_bridge
  name: br-ex
  mtu: {{ lookup('vars', networks_lower['external'] ~ '_mtu') }}
  use_dhcp: false
  addresses:
  - ip_netmask: {{ lookup('vars', networks_lower['external'] ~ '_ip') }}/{{ lookup('vars', networks_lower['external'] ~ '_cidr') }}
  routes: {{ lookup('vars', networks_lower['external'] ~ '_host_routes') }}
  members:
  - type: interface
    name: nic2
    mtu: {{ lookup('vars', networks_lower['external'] ~ '_mtu') }}
    # force the MAC address of the bridge to this interface
    primary: true