{% set ceph_count = ((vms | selectattr("profile", "equalto", "vcephstorage") | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count) + (physical | selectattr("profile", "equalto", "cephstorage") | selectattr("leaf", "equalto", leaf.name) | list | count)) %}
{% set hci_count = ((vms | selectattr("profile", "equalto", "vcomputehci") | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count) + (physical | selectattr("profile", "equalto", "computehci") | selectattr("leaf", "equalto", leaf.name) | list | count)) %}

parameter_defaults:
{% if ceph_count + hci_count < 3 %}
  CephPoolDefaultSize: {{ ceph_count + hci_count }}
{% else %}
  CephPoolDefaultSize: 3
{% endif %}
  CephPoolDefaultPgNum: 64
  CephAnsibleDisksConfig:
    devices: 
{% for device in CephStorageProperties.devices %}
    - {{ device }}
{% endfor %}
    osd_scenario: lvm
    osd_objectstore: bluestore
  CephPools:
    - {"name": backups, "target_size_ratio": 0.1, "pg_autoscale_mode": True, "application": rbd}
    - {"name": volumes, "target_size_ratio": 0.5, "pg_autoscale_mode": True, "application": rbd}
    - {"name": vms,     "target_size_ratio": 0.2, "pg_autoscale_mode": True, "application": rbd}
    - {"name": images,  "target_size_ratio": 0.2, "pg_autoscale_mode": True, "application": rbd}
{% if hci_count > 0 %}
  CephAnsibleExtraConfig:
    is_hci: true
{% endif %}
