{% if RHOSP_version < 17.1 %}
resource_registry:
{% for ocrole in overcloud_roles %}
{% if roles_count[leaf.name][ocrole.name] > 0 %}
{% if leaf.hypervisor == default_leaf.hypervisor %}
  OS::TripleO::{{ ocrole.name }}::Net::SoftwareConfig: /home/stack/templates/nic-configs/{{ ocrole.profile }}.yaml
{% else %}
  OS::TripleO::{{ ocrole.name }}::Net::SoftwareConfig: /home/stack/templates/{{ leaf.name }}/nic-configs/{{ ocrole.profile }}.yaml
{% endif %}
{% endif %}
{% endfor %}
{% if (RHOSP_version < 17.1) and (physical_machines | selectattr("openstack.leaf", "equalto", leaf.name) | list | count) > 0 %}
  OS::TripleO::NodeUserData: /usr/share/openstack-tripleo-heat-templates/firstboot/os-net-config-mappings.yaml
{% endif %}
{% endif %}

parameter_defaults:
{% if RHOSP_version < 17.1 %}
  NetworkDeploymentActions: ['CREATE','UPDATE']
{% else %}
{% for ocrole in overcloud_roles %}
{% if roles_count[leaf.name][ocrole.name] > 0 %}
{% if leaf.hypervisor == default_leaf.hypervisor %}
  {{ ocrole.name }}NetworkConfigTemplate: '/home/stack/templates/nic-configs/{{ ocrole.profile }}.j2'
{% else %}
  {{ ocrole.name }}NetworkConfigTemplate: '/home/stack/templates/{{ leaf.name }}/nic-configs/{{ ocrole.profile }}.j2'
{% endif %}
  {{ ocrole.name }}NetworkConfigUpdate: true
{% endif %}
{% endfor %}
{% endif %}
  DnsServers: {{ dns_servers | join(',') }}
  NtpServer: {{ ntp_servers | join(',') }}
  ControlPlaneDefaultRoute: {{ leaf.ctlplane_subnet.gateway }}
  ControlPlaneSubnet: {{ leaf.ctlplane_subnet.name }}
  
  NeutronBridgeMappings: "{{ BridgeMappings }}"
  NeutronPhysicalBridge: "br-ex"
  NeutronFlatNetworks: "*"
  
  NeutronNetworkVLANRanges: "{{ NetworkVlanRanges }}"
{% if NeutronDriver == 'ovn' %}
  NeutronTunnelTypes: 'geneve'
  NeutronNetworkType: 'geneve,vlan'
{% else %}
  NeutronOVSFirewallDriver: openvswitch
{% endif %}
  
{# nic-name -> device mapping for os-net-config. On 16.2 it always comes from here; on #}
{# 17.1 ironic-provisioned nodes get it from node-info.yaml (node provision            #}
{# --network-config), but deployed-server (managed:false) nodes never run that step, so #}
{# the mapping must be supplied here for 17.1 too. Keyed by nic1's MAC, so it is robust #}
{# to interface renaming on the node.                                                   #}
{% if ((RHOSP_version < 17.1) or deployed_server[leaf.name]) and (physical_machines | selectattr("openstack.leaf", "equalto", leaf.name) | list | count) > 0 %}
  NetConfigDataLookup:
{% for pm in physical_machines if pm.openstack.leaf == leaf.name %}
    node{{ loop.index }}:
{% for nic, interface in pm.physical.nics.items() %}
      {{ nic }}: '{{ pm.physical.mac if nic == 'nic1' else interface }}'
{% endfor %}
{% endfor %}
{% endif %}

  NovaSchedulerDefaultFilters:
    - AvailabilityZoneFilter
    - ComputeFilter
    - ComputeCapabilitiesFilter
    - ImagePropertiesFilter
    - ServerGroupAntiAffinityFilter
    - ServerGroupAffinityFilter
    - AggregateInstanceExtraSpecsFilter
    - NUMATopologyFilter
    - PciPassthroughFilter

{% if dcn_leafs | length > 0 %}
  NeutronDefaultAvailabilityZones: '{{ default_leaf.name }},{% for leaf in dcn_leafs %}{{ leaf.name }}{{ "," if not loop.last else "" }}{% endfor %}'
{% if NeutronDriver == 'ovs' %}
  NeutronL3AgentAvailabilityZone: '{{ default_leaf.name }},{% for leaf in dcn_leafs %}{{ leaf.name }}{{ "," if not loop.last else "" }}{% endfor %}'
  NeutronDhcpAgentAvailabilityZone: '{{ default_leaf.name }},{% for leaf in dcn_leafs %}{{ leaf.name }}{{ "," if not loop.last else "" }}{% endfor %}'
{% endif %}
{% for ocrole in overcloud_roles if (ocrole.virtual | bool) %}
{% if roles_count[leaf.name][ocrole.name] > 0 %}
  {{ ocrole.name }}ControlPlaneSubnet: {{ leaf.ctlplane_subnet.name }}
  {{ ocrole.name }}Parameters:
{% if leaf.name != default_leaf.name %}
    NeutronBridgeMappings: "datacentre-{{ leaf.name }}:br-ex"
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex"
{% endif %}
{% endif %}
{% endfor %}
{% if NeutronDriver == 'ovn' %}
  OVNDBSPacemakerTimeout: 360
  OVNRemoteProbeInterval: 180000
  OVNOpenflowProbeInterval: 180
  ControllerParameters:
    OVNCMSOptions: "enable-chassis-as-gw,availability-zones={{ default_leaf.name }}:{% for leaf in dcn_leafs %}{{ leaf.name }}{{ ":" if not loop.last else "" }}{% endfor %}"
{% endif %}

{% endif %}

{% if roles_count[leaf.name]["ComputeOvsDpdkSriov"] > 0 %}
  ComputeOvsDpdkSriovParameters:
{% if leaf.name != 'overcloud' %}
    NeutronBridgeMappings: "datacentre-{{ leaf.name }}:br-ex"
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex"
{% endif %}
    KernelArgs: "default_hugepagesz={{ ComputeOvsDpdkSriovProperties.hugepagesz }} hugepagesz={{ ComputeOvsDpdkSriovProperties.hugepagesz }} hugepages={{ ComputeOvsDpdkSriovProperties.hugepages }} {{ ComputeOvsDpdkSriovProperties.kernelargs }} isolcpus={{ ComputeOvsDpdkSriovProperties.isolcpus }}"
    TunedProfileName: "cpu-partitioning"
    IsolCpusList: "{{ ComputeOvsDpdkSriovProperties.isolcpus }}"
    NovaReservedHostMemory: {{ ComputeOvsDpdkSriovProperties.hostmemory }}
    OvsDpdkSocketMemory: "{{ ComputeOvsDpdkSriovProperties.socketmemory }}"
    OvsDpdkMemoryChannels: "{{ ComputeOvsDpdkSriovProperties.memorychannels }}"
    OvsDpdkCoreList: "{{ ComputeOvsDpdkSriovProperties.ovsdpdkcorelist }}"
    NovaComputeCpuDedicatedSet: "{{ ComputeOvsDpdkSriovProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeOvsDpdkSriovProperties.sharedcpus }}"
    OvsPmdCoreList: "{{ ComputeOvsDpdkSriovProperties.ovspmdcorelist}}"
    OvsEnableDpdk: true
    NovaPCIPassthrough: {{ ComputeOvsDpdkSriovProperties.pcipassthrough }}
    NeutronPhysicalDevMappings: {{ ComputeOvsDpdkSriovProperties.physicaldevmappings }}
{% endif %}

{% if roles_count[leaf.name]["ComputeOvsDpdk"] > 0 %}
  ComputeOvsDpdkParameters:
{% if leaf.name != 'overcloud' %}
    NeutronBridgeMappings: "datacentre-{{ leaf.name }}:br-ex"
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex"
{% endif %}
    KernelArgs: "default_hugepagesz={{ ComputeOvsDpdkProperties.hugepagesz }} hugepagesz={{ ComputeOvsDpdkProperties.hugepagesz }} hugepages={{ ComputeOvsDpdkProperties.hugepages }} {{ ComputeOvsDpdkProperties.kernelargs }} isolcpus={{ ComputeOvsDpdkProperties.isolcpus }}"
    TunedProfileName: "cpu-partitioning"
    IsolCpusList: "{{ ComputeOvsDpdkProperties.isolcpus }}"
    NovaReservedHostMemory: {{ ComputeOvsDpdkProperties.hostmemory }}
    OvsDpdkSocketMemory: "{{ ComputeOvsDpdkProperties.socketmemory }}"
    OvsDpdkMemoryChannels: "{{ ComputeOvsDpdkProperties.memorychannels }}"
    OvsDpdkCoreList: "{{ ComputeOvsDpdkProperties.ovsdpdkcorelist }}"
    NovaComputeCpuDedicatedSet: "{{ ComputeOvsDpdkProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeOvsDpdkProperties.sharedcpus }}"
    OvsPmdCoreList: "{{ ComputeOvsDpdkProperties.ovspmdcorelist}}"
    OvsEnableDpdk: true
{% endif %}

{% if roles_count[leaf.name]["ComputeSriov"] > 0 %}
  ComputeSriovParameters:
{% if leaf.name != 'overcloud' %}
    NeutronBridgeMappings: "datacentre-{{ leaf.name }}:br-ex"
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex"
{% endif %}
    IsolCpusList: '{{ ComputeSriovProperties.isolcpus }}'
    KernelArgs: "default_hugepagesz={{ ComputeSriovProperties.hugepagesz }} hugepagesz={{ ComputeSriovProperties.hugepagesz }} hugepages={{ ComputeSriovProperties.hugepages }} {{ ComputeSriovProperties.kernelargs }} isolcpus={{ ComputeSriovProperties.isolcpus }}"
    TunedProfileName: "cpu-partitioning"
    NovaComputeCpuDedicatedSet: "{{ ComputeSriovProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeSriovProperties.sharedcpus }}"
    NovaReservedHostMemory: {{ ComputeSriovProperties.hostmemory }}
    NovaPCIPassthrough: {{ ComputeSriovProperties.pcipassthrough }}
    NeutronPhysicalDevMappings: {{ ComputeSriovProperties.physicaldevmappings }}
{% endif %}

{% if roles_count[leaf.name]["ComputeOvsHwOffload"] > 0 %}
  ComputeOvsHwOffloadParameters:
{% if leaf.name != 'overcloud' %}
    NeutronBridgeMappings: "datacentre-{{ leaf.name }}:br-ex"
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex"
{% endif %}
    IsolCpusList: '{{ ComputeOvsHwOffloadProperties.isolcpus }}'
    KernelArgs: "default_hugepagesz={{ ComputeOvsHwOffloadProperties.hugepagesz }} hugepagesz={{ ComputeOvsHwOffloadProperties.hugepagesz }} hugepages={{ ComputeOvsHwOffloadProperties.hugepages }} {{ ComputeOvsHwOffloadProperties.kernelargs }} isolcpus={{ ComputeOvsHwOffloadProperties.isolcpus }}"
    OvsHwOffload: true
    TunedProfileName: "cpu-partitioning"
    NovaComputeCpuDedicatedSet: "{{ ComputeOvsHwOffloadProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeOvsHwOffloadProperties.sharedcpus }}"
    NovaReservedHostMemory: {{ ComputeOvsHwOffloadProperties.hostmemory }}
    NovaPCIPassthrough: {{ ComputeOvsHwOffloadProperties.pcipassthrough }}
    NeutronPhysicalDevMappings: {{ ComputeOvsHwOffloadProperties.physicaldevmappings }}
{% endif %}

{% if DeployFrr %}
  FrrOvnBgpAgentDriver: 'ovn_bgp_driver'
{% endif %}
