{% set ceph_count = (roles_count[leaf.name]["CephStorage"] + roles_count[leaf.name]["CephAll"]) %}
{% set hci_count = (roles_count[leaf.name]["ComputeHCI"] + roles_count[leaf.name]["DistributedComputeHCI"] + roles_count[leaf.name]["DistributedComputeHCIScaleOut"]) %}

parameter_defaults:
{% if ceph_count + hci_count < 3 %}
  CephPoolDefaultSize: {{ ceph_count + hci_count }}
{% else %}
  CephPoolDefaultSize: 3
{% endif %}
  CephPoolDefaultPgNum: 64
  CephAnsibleDisksConfig:
    devices: 
{% for device in CephStorageProperties.devices %}
    - {{ device }}
{% endfor %}
    osd_scenario: lvm
    osd_objectstore: bluestore
  CephPools:
    - {"name": backups, "target_size_ratio": 0.1, {{ '"rule_name": "replicated_rule", ' if RHOSP_version >= 17.1 else '' }}"pg_autoscale_mode": True, "application": rbd}
    - {"name": volumes, "target_size_ratio": 0.5, {{ '"rule_name": "replicated_rule", ' if RHOSP_version >= 17.1 else '' }}"pg_autoscale_mode": True, "application": rbd}
    - {"name": vms,     "target_size_ratio": 0.2, {{ '"rule_name": "replicated_rule", ' if RHOSP_version >= 17.1 else '' }}"pg_autoscale_mode": True, "application": rbd}
    - {"name": images,  "target_size_ratio": 0.2, {{ '"rule_name": "replicated_rule", ' if RHOSP_version >= 17.1 else '' }}"pg_autoscale_mode": True, "application": rbd}
{% if hci_count > 0 %}
  CephAnsibleExtraConfig:
    is_hci: true
{% endif %}
{% if DCNLeafs | length > 0 %}
  CephClusterName: {{ leaf.name }}
{% endif %}