{% set ceph_count = ((vms | selectattr("profile", "equalto", "vcephstorage") | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count) + (physical | selectattr("profile", "equalto", "cephstorage") | selectattr("leaf", "equalto", leaf.name) | list | count)) %}
{% set hci_count = ((vms | selectattr("profile", "equalto", "vcomputehci") | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count) + (physical | selectattr("profile", "equalto", "computehci") | selectattr("leaf", "equalto", leaf.name) | list | count)) %}

parameter_defaults:
{% if leaf.name == DefaultLeaf0.name %}
{% if DCNLeafs | length > 0 %}
{% if (ceph_count + hci_count) > 0 %}
  GlanceEnabledImportMethods: web-download,copy-image
  GlanceBackend: rbd
  GlanceStoreDescription: '{{ leaf.name }} rbd glance store'
  GlanceBackendID: {{ leaf.name }}
  CephClusterName: {{ leaf.name }}
  GlanceRbdPoolName: images
  CinderStorageAvailabilityZone: {{ leaf.name }}
# Uncomment the following after deploying the leafs
#  GlanceMultistoreConfig:
{% for dcn_leaf in DCNLeafs %}
#    {{ dcn_leaf.name }}:
#      GlanceBackend: rbd
#      GlanceStoreDescription: '{{ dcn_leaf.name }} rbd glance store'
#      CephClusterName: {{ dcn_leaf.name }}
#      CephClientUserName: openstack
#      GlanceBackend: {{ dcn_leaf.name }}
#      GlanceRbdPoolName: images
{% endfor %}
{% else %}
  GlanceBackend: swift
  CinderStorageAvailabilityZone: {{ leaf.name }}
{% endif %}
  NovaComputeAvailabilityZone: {{ leaf.name }}
  NovaCrossAZAttach: false
  ControllerExtraConfig:
    nova::scheduler::filter::scheduler_host_subset_size: '999'
    horizon::keystone_multidomain_support: true
    nova::availability_zone::default_schedule_zone: {{ leaf.name }}
  VirtualControllerExtraConfig:
    nova::scheduler::filter::scheduler_host_subset_size: '999'
    horizon::keystone_multidomain_support: true
    nova::availability_zone::default_schedule_zone: {{ leaf.name }}
{% else %}
  ControllerExtraConfig:
    nova::scheduler::filter::scheduler_host_subset_size: '999'
    horizon::keystone_multidomain_support: true
  VirtualControllerExtraConfig:
    nova::scheduler::filter::scheduler_host_subset_size: '999'
    horizon::keystone_multidomain_support: true
{% endif %}
  PublicVirtualFixedIPs: [{'ip_address':'{{ overcloud_ip }}'}]
{% else %}
{% if (ceph_count + hci_count) > 0 %}
  GlanceEnabledImportMethods: web-download,copy-image
  GlanceBackend: rbd
  GlanceStoreDescription: '{{ leaf.name }} rbd glance store'
  GlanceBackendID: {{ leaf.name }}
  GlanceRbdPoolName: images
  CinderStorageAvailabilityZone: {{ leaf.name }}
  GlanceMultistoreConfig:
    {{ DefaultLeaf0.name }}:
      GlanceBackend: rbd
      GlanceStoreDescription: '{{ DefaultLeaf0.name }} rbd glance store'
      CephClusterName: {{ DefaultLeaf0.name }}
      GlanceRbdPoolName: images
      CephClientUserName: openstack
{% endif %}
  NovaAZAttach: false
  NovaComputeAvailabilityZone: {{ leaf.name }}
  RootStackName: {{ leaf.name }}
  ManageNetworks: false
{% endif %}
{% if RHOSP_version != 17.0 %}
  AllNodesExtraConfig:
    swap_size_megabytes: '8192'
{% for ocrole in overcloud_roles %}
{% if ((physical | selectattr("profile", "equalto", ocrole.profile) | selectattr("leaf", "equalto", leaf.name) | list | count) + (vms | selectattr("profile", "equalto", ocrole.profile) | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count)) > 0 %}
  {{ ocrole.name }}SchedulerHints:
    'capabilities:node': '{{ leaf.name }}-{{ ocrole.profile }}%index%'
{% endif %}
{% endfor %}
{% endif %}
{% if RegisterNodes %}
  RhsmVars:
{% if (rh_orgid is not defined) or (rh_activationkey is not defined) %}
    rhsm_username: "{{ rh_username }}"
    rhsm_password: "{{ rh_password }}"
{% else %}
    rhsm_org_id: "{{ rh_orgid }}"
    rhsm_activation_key: "{{ rh_activationkey }}"
{% endif %}
{% if (rh_pool is defined) %}
    rhsm_pool_ids: "{{ rh_pool }}"
{% endif %}
    rhsm_repos:
{% for repo in RHOSP_version_supported[RHOSP_version].nodes_repos %}
      - {{ repo }}
{% endfor %}
{% if RHOSP_version != 13.0 %}
    rhsm_release: {{ RHOSP_version_supported[RHOSP_version].rhel_release }}
{% endif %}
{% endif %}
{% if RHOSP_version == 13.0 %}
  DockerInsecureRegistryAddress:
  - undercloud.ctlplane.localdomain:8787
  - 192.168.24.1:8787
{% endif %}