parameter_defaults:
  ControllerExtraConfig:
    nova::scheduler::filter::scheduler_host_subset_size: '999'
    horizon::keystone_multidomain_support: true
  VirtualControllerExtraConfig:
    nova::scheduler::filter::scheduler_host_subset_size: '999'
    horizon::keystone_multidomain_support: true
  AllNodesExtraConfig:
    swap_size_megabytes: '8192'
  PublicVirtualFixedIPs: [{'ip_address':'{{ overcloud_ip }}'}]
{% for ocrole in overcloud_roles %}
  {{ ocrole.name }}SchedulerHints:
    'capabilities:node': '{{ ocrole.profile }}%index%'
{% endfor %}
{% if RegisterNodes %}
  RhsmVars:
{% if (rh_orgid is not defined) or (rh_activationkey is not defined) %}
    rhsm_username: "{{ rh_username }}"
    rhsm_password: "{{ rh_password }}"
{% else %}
    rhsm_org_id: "{{ rh_orgid }}"
    rhsm_activation_key: "{{ rh_activationkey }}"
{% endif %}
{% if (rh_pool is defined) %}
    rhsm_pool_ids: "{{ rh_pool }}"
{% endif %}
    rhsm_repos: {{ RHOSP_version_supported[RHOSP_version].nodes_repos }}
{% if RHOSP_version != 13.0 %}
    rhsm_release: {{ RHOSP_version_supported[RHOSP_version].rhel_release }}
{% endif %}
{% endif %}
  DockerInsecureRegistryAddress:
  - undercloud.ctlplane.localdomain:8787
  - 192.168.24.1:8787
