{% set dpdk_count = ((physical | selectattr("profile", "equalto", "computeovsdpdk") | selectattr("leaf", "equalto", leaf.name) | list | count) + (physical | selectattr("profile", "equalto", "computeovsdpdksriov") | selectattr("leaf", "equalto", leaf.name) | list | count)) %}
{% set sriov_count = ((physical | selectattr("profile", "equalto", "computesriov") | selectattr("leaf", "equalto", leaf.name) | list | count) + (physical | selectattr("profile", "equalto", "computeovshwoffload") | selectattr("leaf", "equalto", leaf.name) | list | count) + (physical | selectattr("profile", "equalto", "computeovsdpdksriov") | selectattr("leaf", "equalto", leaf.name) | list | count)) %}

{% if RHOSP_version != 17.0 %}
resource_registry:
{% for ocrole in overcloud_roles %}
{% if ((physical | selectattr("profile", "equalto", ocrole.profile) | selectattr("leaf", "equalto", leaf.name) | list | count) + (vms | selectattr("profile", "equalto", ocrole.profile) | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count)) > 0 %}
{% if leaf.hypervisor == 'localhost' %}
  OS::TripleO::{{ ocrole.name }}::Net::SoftwareConfig: /home/stack/templates/nic-configs/{{ ocrole.nic_configs }}
{% else %}
  OS::TripleO::{{ ocrole.name }}::Net::SoftwareConfig: /home/stack/templates/{{ leaf.name }}/nic-configs/{{ ocrole.nic_configs }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

parameter_defaults:
  NetworkDeploymentActions: ['CREATE','UPDATE']
  DnsServers: {{ dns_servers | join(',') }}
  NtpServer: {{ ntp_servers | join(',') }}
  ControlPlaneDefaultRoute: {{ leaf.subnet.gateway }}
  
  NeutronBridgeMappings: "{{ BridgeMappings }}"
  NeutronPhysicalBridge: "br-ex"
  NeutronFlatNetworks: "*"
  
  NeutronNetworkVLANRanges: "{{ NetworkVlanRanges }}"
  NeutronTunnelTypes: 'geneve'
  NeutronNetworkType: 'geneve,vlan'
  
  NovaSchedulerDefaultFilters:
    - AvailabilityZoneFilter
    - ComputeFilter
    - ComputeCapabilitiesFilter
    - ImagePropertiesFilter
    - ServerGroupAntiAffinityFilter
    - ServerGroupAffinityFilter
    - AggregateInstanceExtraSpecsFilter
    - NUMATopologyFilter
    - PciPassthroughFilter

{% if DCNLeafs | length > 0 %}
{% for ocrole in overcloud_roles %}
{% if ((physical | selectattr("profile", "equalto", ocrole.profile) | selectattr("leaf", "equalto", leaf.name) | list | count) + (vms | selectattr("profile", "equalto", ocrole.profile) | selectattr("hypervisor", "equalto", leaf.hypervisor) | list | count)) > 0 %}
  {{ ocrole.name }}ControlPlaneSubnet: {{ leaf.subnet.name }}
  {{ ocrole.name }}Parameters:
{% if leaf.name != 'overcloud' %}
    NeutronBridgeMappings: "datacentre-{{ leaf.name }}:br-ex"
{% else %}
    NeutronBridgeMappings: "datacentre:br-ex"
{% endif %}
{% endif %}
{% endfor %}
  VirtualControllerParameters:
    OVNCMSOptions: "enable-chassis-as-gw,availability-zones=overcloud:{% for leaf in DCNLeafs %}{{ leaf.name }}{{ ":" if not loop.last else "" }}{% endfor %}"
  ControllerParameters:
    OVNCMSOptions: "enable-chassis-as-gw,availability-zones=overcloud:{% for leaf in DCNLeafs %}{{ leaf.name }}{{ ":" if not loop.last else "" }}{% endfor %}"
{% endif %}

{% if dpdk_count + sriov_count > 0 %}
  ComputeOvsDpdkSriovParameters:
    KernelArgs: "default_hugepagesz={{ ComputeOvsDpdkSriovProperties.hugepagesz }} hugepagesz={{ ComputeOvsDpdkSriovProperties.hugepagesz }} hugepages={{ ComputeOvsDpdkSriovProperties.hugepages }} {{ ComputeOvsDpdkSriovProperties.kernelargs }} isolcpus={{ ComputeOvsDpdkSriovProperties.isolcpus }}"
    TunedProfileName: "cpu-partitioning"
    IsolCpusList: "{{ ComputeOvsDpdkSriovProperties.isolcpus }}"
    NovaReservedHostMemory: {{ ComputeOvsDpdkSriovProperties.hostmemory }}
    OvsDpdkSocketMemory: "{{ ComputeOvsDpdkSriovProperties.socketmemory }}"
    OvsDpdkMemoryChannels: "{{ ComputeOvsDpdkSriovProperties.memorychannels }}"
    OvsDpdkCoreList: "{{ ComputeOvsDpdkSriovProperties.ovsdpdkcorelist }}"
{% if RHOSP_version == 13.0 %}
    NovaVcpuPinSet: "{{ ComputeOvsDpdkSriovProperties.dedicatedcpus }}"
{% else %}
    NovaComputeCpuDedicatedSet: "{{ ComputeOvsDpdkSriovProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeOvsDpdkSriovProperties.sharedcpus }}"
{% endif %}
    OvsPmdCoreList: "{{ ComputeOvsDpdkSriovProperties.ovspmdcorelist}}"
    OvsEnableDpdk: true
    NovaPCIPassthrough: {{ ComputeOvsDpdkSriovProperties.pcipassthrough }}
    NeutronPhysicalDevMappings: {{ ComputeOvsDpdkSriovProperties.physicaldevmappings }}
{% endif %}

{% if dpdk_count > 0 %}
  ComputeOvsDpdkParameters:
    KernelArgs: "default_hugepagesz={{ ComputeOvsDpdkProperties.hugepagesz }} hugepagesz={{ ComputeOvsDpdkProperties.hugepagesz }} hugepages={{ ComputeOvsDpdkProperties.hugepages }} {{ ComputeOvsDpdkProperties.kernelargs }} isolcpus={{ ComputeOvsDpdkProperties.isolcpus }}"
    TunedProfileName: "cpu-partitioning"
    IsolCpusList: "{{ ComputeOvsDpdkProperties.isolcpus }}"
    NovaReservedHostMemory: {{ ComputeOvsDpdkProperties.hostmemory }}
    OvsDpdkSocketMemory: "{{ ComputeOvsDpdkProperties.socketmemory }}"
    OvsDpdkMemoryChannels: "{{ ComputeOvsDpdkProperties.memorychannels }}"
    OvsDpdkCoreList: "{{ ComputeOvsDpdkProperties.ovsdpdkcorelist }}"
{% if RHOSP_version == 13.0 %}
    NovaVcpuPinSet: "{{ ComputeOvsDpdkProperties.dedicatedcpus }}"
{% else %}
    NovaComputeCpuDedicatedSet: "{{ ComputeOvsDpdkProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeOvsDpdkProperties.sharedcpus }}"
{% endif %}
    OvsPmdCoreList: "{{ ComputeOvsDpdkProperties.ovspmdcorelist}}"
    OvsEnableDpdk: true
{% endif %}

{% if sriov_count > 0 %}
  ComputeSriovParameters:
    IsolCpusList: '{{ ComputeSriovProperties.isolcpus }}'
    KernelArgs: "default_hugepagesz={{ ComputeSriovProperties.hugepagesz }} hugepagesz={{ ComputeSriovProperties.hugepagesz }} hugepages={{ ComputeSriovProperties.hugepages }} {{ ComputeSriovProperties.kernelargs }} isolcpus={{ ComputeSriovProperties.isolcpus }}"
    TunedProfileName: "cpu-partitioning"
{% if RHOSP_version == 13.0 %}
    NovaVcpuPinSet: "{{ ComputeSriovProperties.dedicatedcpus }}"
{% else %}
    NovaComputeCpuDedicatedSet: "{{ ComputeSriovProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeSriovProperties.sharedcpus }}"
{% endif %}
    NovaReservedHostMemory: {{ ComputeSriovProperties.hostmemory }}
    NovaPCIPassthrough: {{ ComputeSriovProperties.pcipassthrough }}
    NeutronPhysicalDevMappings: {{ ComputeSriovProperties.physicaldevmappings }}
  
  ComputeOvsHwOffloadParameters:
    IsolCpusList: '{{ ComputeOvsHwOffloadProperties.isolcpus }}'
    KernelArgs: "default_hugepagesz={{ ComputeOvsHwOffloadProperties.hugepagesz }} hugepagesz={{ ComputeOvsHwOffloadProperties.hugepagesz }} hugepages={{ ComputeOvsHwOffloadProperties.hugepages }} {{ ComputeOvsHwOffloadProperties.kernelargs }} isolcpus={{ ComputeOvsHwOffloadProperties.isolcpus }}"
    OvsHwOffload: true
    TunedProfileName: "cpu-partitioning"
{% if RHOSP_version == 13.0 %}
    NovaVcpuPinSet: "{{ ComputeOvsHwOffloadProperties.dedicatedcpus }}"
{% else %}
    NovaComputeCpuDedicatedSet: "{{ ComputeOvsHwOffloadProperties.dedicatedcpus }}"
    NovaComputeCpuSharedSet: "{{ ComputeOvsHwOffloadProperties.sharedcpus }}"
{% endif %}
    NovaReservedHostMemory: {{ ComputeOvsHwOffloadProperties.hostmemory }}
    NovaPCIPassthrough: {{ ComputeOvsHwOffloadProperties.pcipassthrough }}
    NeutronPhysicalDevMappings: {{ ComputeOvsHwOffloadProperties.physicaldevmappings }}
{% endif %}
