#/bin/bash

{% set dpdk_count = (physical | selectattr("profile", "equalto", "computeovsdpdk") | list | count) %}
{% set sriov_count = ((physical | selectattr("profile", "equalto", "computesriov") | list | count) + (physical | selectattr("profile", "equalto", "computeovshwoffload") | list | count)) %}
{% set ceph_count = ((vms | selectattr("profile", "equalto", "vcephstorage") | list | count) + (physical | selectattr("profile", "equalto", "cephstorage") | list | count)) %}
{% set hci_count = ((vms | selectattr("profile", "equalto", "vcomputehci") | list | count) + (physical | selectattr("profile", "equalto", "computehci") | list | count)) %}

source /home/stack/stackrc
date
time openstack overcloud deploy \
--log-file overcloud_deployment.log \
--templates /usr/share/openstack-tripleo-heat-templates/ \
--stack overcloud \
-n /home/stack/templates/network_data.yaml \
{% if RHOSP_version == 17.0 %}
-e /home/stack/templates/overcloud-baremetal-deployed.yaml \
-e /home/stack/templates/overcloud-networks-deployed.yaml \
-e /home/stack/templates/overcloud-vip-deployed.yaml \
{% endif %}
-r /home/stack/templates/roles_data.yaml \
-e /home/stack/templates/node-info.yaml \
{% if RHOSP_version != 13.0 %}
-e /home/stack/templates/containers-prepare-parameter.yaml \
{% endif %}
-e /home/stack/templates/overcloud-images.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/enable-swap.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/network-environment.yaml \
{% if ((RHOSP_version == 13.0) and (dpdk_count + sriov_count > 0)) %}
-e /usr/share/openstack-tripleo-heat-templates/environments/host-config-and-reboot.yaml \
{% endif %}
{% if dpdk_count > 0 %}
{% if RHOSP_version == 13.0 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/neutron-ovs-dpdk.yaml \
{% else %}
-e /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovn-dpdk.yaml \
{% endif %}
{% endif %}
-e /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovn-dvr-ha.yaml \
{% if sriov_count > 0 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-ovn-sriov.yaml \
{% endif %}
{% if DeployOctavia %}
-e /usr/share/openstack-tripleo-heat-templates/environments/services/octavia.yaml \
{% endif %}
-e /home/stack/templates/custom-network-configuration.yaml \
{% if (ceph_count + hci_count) > 0 %}
-e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-rgw.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-mds.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/cinder-backup.yaml \
-e /home/stack/templates/custom-ceph.yaml \
{% endif %}
{% if RegisterNodes %}
-e /usr/share/openstack-tripleo-heat-templates/environments/rhsm.yaml \
{% endif %}
-e /home/stack/templates/custom-overcloud.yaml
date
