[global]
public_network = {{ default_leaf.ctlplane_subnet.cidr }}{% for leaf in dcn_leafs %},{{ leaf.ctlplane_subnet.cidr }}{% endfor %}

cluster_network = {{ default_leaf.ctlplane_subnet.cidr }}{% for leaf in dcn_leafs %},{{ leaf.ctlplane_subnet.cidr }}{% endfor %}

ms_bind_ipv4 = True
ms_bind_ipv6 = False
[osd]
osd_memory_target_autotune = true
osd_numa_auto_affinity = true
[mgr]
mgr/cephadm/autotune_memory_target_ratio = 0.2