nodes:
{% for vm in libvirt_machines if (not vm.pre_provisioned | default(false)) %}
{% set vm_leaf = leafs_by_name.get(vm.openstack.leaf | default(default_leaf.name)) %}
{% set ctlplane_bridge = vm_leaf.ctlplane_bridge.name %}
  - ports:
      - address: '{{ (vm.libvirt.network.interfaces | selectattr('bridge', 'equalto', ctlplane_bridge) | list | first).mac }}'
{% if vm.libvirt.hypervisor in default_leaf.hypervisor.split(',') %}
        physical_network: ctlplane
{% else %}
        physical_network: {{ vm_leaf.ctlplane_subnet.name }}
{% endif %}
    name: "{{ vm_leaf.name ~ '-' ~ vm.name }}"
    capabilities: "{{ ['node:' ~ vm_leaf.name ~ '-' ~ vm.name, "boot_option:local", 'boot_mode:' ~ vm.pm.mode] | join(',') }}"
    cpu: {{ vm.libvirt.cpus }}
    memory: {% set mem = vm.libvirt.memory %}{% set val = (mem | regex_replace('[A-Za-z]', '') | float) %}{% set unit = (mem | regex_replace('^[0-9]+', '')) %}{% set multiplier = ({'Gi': 1048576, 'Mi': 1024, 'Ki': 1}.get(unit, 1)) %}{{ ((val * multiplier) | int) }}
    disk: {% set root_disk = vm.libvirt.disks | selectattr('root', 'defined') | selectattr('root') | list | first | default(none) %}{% if root_disk %}{% set disk_size = root_disk.size %}{% set val = (disk_size | regex_replace('[A-Za-z]', '') | float) %}{% set unit = (disk_size | regex_replace('^[0-9]+', '')) %}{% set multiplier = ({'Gi': 1073741824, 'Mi': 1048576, 'Ki': 1024}.get(unit, 1)) %}{{ ((val * multiplier) | int) }}{% else %}0{% endif %}

    arch: "x86_64"
    pm_type: "{{ vm.pm.type }}"
    pm_user: "{{ vm.pm.user }}"
    pm_password: "{{ vm.pm.password }}"
    pm_addr: "{% if vm.libvirt.hypervisor == 'localhost' %}{{ libvirt_management_network.ipv4.address }}{% else %}{{ hostvars[vm.libvirt.hypervisor].ansible_host }}{% endif %}"
    pm_port: "{{ vm.pm.port }}"
{% endfor %}

{% for node in physical_machines if (not node.pre_provisioned | default(false)) %}
{% set node_leaf = leafs_by_name.get(node.openstack.leaf | default(default_leaf.name)) %}
  - ports:
      - address: '{{ node.physical.mac }}'
{% if node.openstack.leaf == default_leaf.name %}
        physical_network: ctlplane
{% else %}
        physical_network: {{ node_leaf.ctlplane_subnet.name }}
{% endif %}
    name: "{{ node_leaf.name ~ '-' ~ node.name }}"
    capabilities: "{{ ['node:' ~ node_leaf.name ~ '-' ~ node.name, "boot_option:local", 'boot_mode:' ~ node.pm.mode] | join(',') }}"
    cpu: {{ node.physical.cpus }}
    memory: {% if node.physical.memory %}{% set mem = node.physical.memory %}{% set val = (mem | regex_replace('[A-Za-z]', '') | float) %}{% set unit = (mem | regex_replace('^[0-9]+', '')) %}{% set multiplier = ({'Gi': 1048576, 'Mi': 1024, 'Ki': 1}.get(unit, 1)) %}{{ ((val * multiplier) | int) }}{% else %}0{% endif %}
    disk: {% if node.physical.disk %}{% set disk_size = node.physical.disk %}{% set val = (disk_size | regex_replace('[A-Za-z]', '') | float) %}{% set unit = (disk_size | regex_replace('^[0-9]+', '')) %}{% set multiplier = ({'Gi': 1073741824, 'Mi': 1048576, 'Ki': 1024}.get(unit, 1)) %}{{ ((val * multiplier) | int) }}{% else %}0{% endif %}

    arch: "x86_64"
    pm_type: "{{ node.pm.type }}"
{% if 'manual' not in node.pm.type and 'fake' not in node.pm.type %}
    pm_user: "{{ node.pm.user }}"
    pm_password: "{{ node.pm.password }}"
    pm_addr: "{{ node.pm.address }}"
    pm_port: "{{ node.pm.port }}"
{% endif %}
{% endfor %}
