nodes:
{% set ctlplane_bridge = (networks | selectattr('name', 'search', 'RHOSPVirtLab_ctlplane') | list | first).bridge %}
{% for vm in libvirt_machines if (vm.libvirt.hypervisor == leaf.hypervisor) and (not vm.pre_provisioned | default(false)) %}
  - ports:
      - address: '{{ (vm.libvirt.network.interfaces | selectattr('bridge', 'equalto', ctlplane_bridge) | list | first).mac }}'
{% if vm.libvirt.hypervisor == default_leaf.hypervisor %}
        physical_network: ctlplane
{% else %}
        physical_network: {{ leaf.ctlplane_subnet.name }}
{% endif %}
    name: "{{ leaf.name ~ '-' ~ vm.name }}"
    capabilities: "{{ ['node:' ~ leaf.name ~ '-' ~ vm.name, "boot_option:local", 'boot_mode:' ~ vm.pm.mode] | join(',') }}"
    cpu: {{ vm.libvirt.cpus }}
    memory: {{ (vm.libvirt.memory / 1024) | int }}
    disk: {{ ((vm.libvirt.disks | selectattr('root', 'defined') | selectattr('root') | list | first).size / 1073741824) | int }}
    arch: "x86_64"
    pm_type: "{{ vm.pm.type }}"
    pm_user: "{{ vm.pm.user }}"
    pm_password: "{{ vm.pm.password }}"
    pm_addr: "{% if vm.libvirt.hypervisor == 'localhost' %}{{ libvirt_management_network.ipv4.address }}{% else %}{{ hostvars[vm.libvirt.hypervisor].ansible_host }}{% endif %}"
    pm_port: "{{ vm.pm.port }}"
{% endfor %}

{% for node in physical_machines if node.openstack.leaf == leaf.name and (not node.pre_provisioned | default(false)) %}
  - ports:
      - address: '{{ node.physical.mac }}'
{% if node.openstack.leaf == default_leaf.name %}
        physical_network: ctlplane
{% else %}
        physical_network: {{ leaf.ctlplane_subnet.name }}
{% endif %}
    name: "{{ leaf.name ~ '-' ~ node.name }}"
    capabilities: "{{ ['node:' ~ leaf.name ~ '-' ~ node.name, "boot_option:local", 'boot_mode:' ~ node.pm.mode] | join(',') }}"
    cpu: {{ node.physical.cpus }}
    memory: {{ (node.physical.memory / 1024) | int }}
    disk: {{ (node.physical.disk / 1073741824) | int }}
    arch: "x86_64"
    pm_type: "{{ node.pm.type }}"
{% if 'manual' not in node.pm.type and 'fake' not in node.pm.type %}
    pm_user: "{{ node.pm.user }}"
    pm_password: "{{ node.pm.password }}"
    pm_addr: "{{ node.pm.address }}"
    pm_port: "{{ node.pm.port }}"
{% endif %}
{% endfor %}
