{% if not default_leaf.networks %} {# IF 1 #}
[]
{% else %} {# IF 1 #}
{% for network in default_leaf.networks %} {# FOR 1 #}
{% if RHOSP_version < 17.1 %} {# IF 2 #}
{# RHOSP 16.2 version #}
- name: {{ network.name }}
  vip: {{ 'true' if network.vip | default(false) else 'false' }}
  vlan: {{ network.subnet.vlan | default(1) }}
  name_lower: {{ network.name | regex_replace('([a-z0-9])([A-Z])', '\\1_\\2') | lower }}
  ip_subnet: '{{ network.subnet.ip_subnet }}'
  allocation_pools: [{% for p in network.subnet.allocation_pools %}{'start': '{{ p.start }}', 'end': '{{ p.end }}'}{{ ', ' if not loop.last else '' }}{% endfor %}]
{% if network.subnet.gateway is defined %}
  gateway_ip: '{{ network.subnet.gateway }}'
{% endif %}
  mtu: {{ network.mtu | default(1500) }}
{% if dcn_leafs | length > 0 %}
  subnets:
{% for leaf in dcn_leafs %}
{% set lnet = leaf.networks | selectattr('name', 'equalto', network.name) | list | first %}
    storage_subnet_{{ leaf.name }}:
      ip_subnet: {{ lnet.subnet.ip_subnet }}
      allocation_pools:
{% for p in lnet.subnet.allocation_pools %}
        - start: {{ p.start }}
          end: {{ p.end }}
{% endfor %}
{% if lnet.subnet.gateway is defined %}
      gateway_ip: {{ lnet.subnet.gateway }}
{% endif %}
      vlan: {{ lnet.subnet.vlan | default(1) }}
{# End of RHOSP 16.2 version #}
{% else %} {# IF 2 #}
{# RHOSP 17.1 version #}
- name: {{ network.name }}
  name_lower: {{ network.name | regex_replace('([a-z0-9])([A-Z])', '\\1_\\2') | lower }}
  vip: {{ 'true' if network.vip | default(false) else 'false' }}
  mtu: {{ network.mtu | default(1500) }}
  subnets:
    {{ network.name | regex_replace('([a-z0-9])([A-Z])', '\\1_\\2') | lower }}_subnet:
      ip_subnet: {{ network.subnet.ip_subnet }}
      allocation_pools:
{% for p in network.subnet.allocation_pools %}
        - start: {{ p.start }}
          end: {{ p.end }}
{% endfor %}
{% if network.subnet.gateway is defined %}
      gateway_ip: {{ network.subnet.gateway }}
{% endif %}
      vlan: {{ network.subnet.vlan | default(1) }}
{% for leaf in dcn_leafs %}
{% set lnet = leaf.networks | selectattr('name', 'equalto', network.name) | list | first %}
    {{ network.name | regex_replace('([a-z0-9])([A-Z])', '\\1_\\2') | lower }}_subnet_{{ leaf.name }}:
      ip_subnet: {{ lnet.subnet.ip_subnet }}
      allocation_pools:
{% for p in lnet.subnet.allocation_pools %}
        - start: {{ p.start }}
          end: {{ p.end }}
{% endfor %}
{% if lnet.subnet.gateway is defined %}
      gateway_ip: {{ lnet.subnet.gateway }}
{% endif %}
      vlan: {{ lnet.subnet.vlan | default(1) }}
{% endfor %}
{# End of RHOSP 17.1 version #}
{% endif %} {# IF 2 #}

{% endfor %} {# FOR 1 #}
{% endif %} {# IF 1 #}