parameter_defaults:
  OvercloudControllerFlavor: baremetal
  OvercloudComputeFlavor: baremetal
  ControllerCount: {{ vms | selectattr("profile", "equalto", "control") | list | count }}
  ComputeCount: {{ vms | selectattr("profile", "equalto", "compute") | list | count }}
