{% if RHOSP_version < 17.1 %}

parameter_defaults:
{% for ocrole in overcloud_roles %}
{% if roles_count[leaf.name][ocrole.name] > 0 %}
  Overcloud{{ ocrole.name }}Flavor: baremetal
  {{ ocrole.name }}Count: {{ roles_count[leaf.name][ocrole.name] }}
{% endif %}
{% endfor %}

{% else %}

{% if leaf.name != DefaultLeaf0.name %}
{% set name = "_" ~ leaf.name %}
{% else %}
{% set name = "" %}
{% endif %}

{% macro net_list(ocrole, name, ctlplane_ip='') %}
    networks:
    - network: ctlplane
{% if ctlplane_ip %}
      fixed_ip: {{ ctlplane_ip }}
{% endif %}
      vif: true
{% if 'Storage' in roles_networks[ocrole.name] %}
    - network: storage
      subnet: storage_subnet{{ name }}
{% endif %}
{% if 'StorageMgmt' in roles_networks[ocrole.name] %}
    - network: storage_mgmt
      subnet: storage_mgmt_subnet{{ name }}
{% endif %}
{% if 'InternalApi' in roles_networks[ocrole.name] %}
    - network: internal_api
      subnet: internal_api_subnet{{ name }}
{% endif %}
{% if 'Tenant' in roles_networks[ocrole.name] %}
    - network: tenant
      subnet: tenant_subnet{{ name }}
{% endif %}
{% if 'External' in roles_networks[ocrole.name] %}
    - network: external
      subnet: external_subnet{{ name }}
{% endif %}
{%- endmacro %}

{% for ocrole in overcloud_roles %}
{% if roles_count[leaf.name][ocrole.name] > 0 %}
- name: {{ ocrole.name }}
  count: {{ roles_count[leaf.name][ocrole.name] }}
{% if not deployed_server[leaf.name] %}
{% if ocrole.name == 'Controller' %}
  ansible_playbooks:
  - playbook: /usr/share/ansible/tripleo-playbooks/cli-overcloud-node-growvols.yaml
    extra_vars:
      growvols_args: >
        /=8GB
        /tmp=1GB
        /var/log=10GB
        /var/log/audit=2GB
        /home=1GB
        /srv=10GB
        /var=100%
{% endif %}
{% if ('Sriov' in ocrole.name) or ('OvsHwOffload' in ocrole.name) or ('OvsDpdk' in ocrole.name) %}
  ansible_playbooks:
  - playbook: /usr/share/ansible/tripleo-playbooks/cli-overcloud-node-kernelargs.yaml
    extra_vars:
      kernel_args: 'default_hugepagesz={{ vars[ocrole.name + 'Properties'].hugepagesz }} hugepagesz={{ vars[ocrole.name + 'Properties'].hugepagesz }} hugepages={{ vars[ocrole.name + 'Properties'].hugepages }} {{ vars[ocrole.name + 'Properties'].kernelargs }} isolcpus={{ vars[ocrole.name + 'Properties'].isolcpus }}'
      tuned_isolated_cores: '{{ vars[ocrole.name + 'Properties'].isolcpus }}'
      tuned_profile: 'cpu-partitioning'
      reboot_wait_timeout: 1800
{% endif %}
{% if 'OvsDpdk' in ocrole.name %}
  - playbook: /usr/share/ansible/tripleo-playbooks/cli-overcloud-openvswitch-dpdk.yaml
    extra_vars:
      pmd: '{{ vars[ocrole.name + 'Properties'].ovspmdcorelist }}'
      memory_channels: '{{ vars[ocrole.name + 'Properties'].memorychannels }}'
      socket_mem: '{{ vars[ocrole.name + 'Properties'].socketmemory }}'
{% endif %}
{% endif %}
  defaults:
{% if deployed_server[leaf.name] %}
    managed: false
{% endif %}
{{ net_list(ocrole, name) }}
{% if not deployed_server[leaf.name] %}
    network_config:
      network_config_update: true
      template: /home/stack/templates/{{ leaf.name ~ "/" if leaf.name != DefaultLeaf0.name else "" }}nic-configs/{{ ocrole.profile }}.j2
      default_route_network:
      - external
    swap_size_mb: 8192
{% endif %}
  instances:
{% for vm in (libvirt_machines | selectattr("openstack.role", "equalto", ocrole.profile) | selectattr("libvirt.hypervisor", "in", leaf.hypervisor)) %}
{% if deployed_server[leaf.name] %}
  - name: {{ vm.name }}
    hostname: {{ vm.name }}
{{ net_list(ocrole, name, vm.openstack.ctlplane_ip) }}
{% else %}
  - name: {{ leaf.name }}-{{ vm.name }}
{% if vm.pm.mode != 'uefi' %}
    image:
      href: "file:///var/lib/ironic/images/overcloud-full.raw"
      kernel: "file:///var/lib/ironic/images/overcloud-full.vmlinuz"
      ramdisk: "file:///var/lib/ironic/images/overcloud-full.initrd"
    root_size_gb: {{ ((vm.libvirt.disks | selectattr('root', 'defined') | selectattr('root') | list | first).size / 1073741824) | int - 9 }}
{% endif %}
{% endif %}
{% endfor %}
{% for pm in (physical_machines | selectattr("openstack.role", "equalto", ocrole.profile) | selectattr("openstack.leaf", "equalto", leaf.name)) %}
{% if deployed_server[leaf.name] %}
  - name: {{ pm.name }}
    hostname: {{ pm.name }}
{{ net_list(ocrole, name, pm.openstack.ctlplane_ip) }}
{% else %}
  - name: {{ leaf.name }}-{{ pm.name }}
{% if pm.pm.mode != 'uefi' %}
    image:
      href: "file:///var/lib/ironic/images/overcloud-full.raw"
      kernel: "file:///var/lib/ironic/images/overcloud-full.vmlinuz"
      ramdisk: "file:///var/lib/ironic/images/overcloud-full.initrd"
    root_size_gb: {{ (pm.physical.disk / 1073741824) | int - 9 }}
    network_config:
      net_config_data_lookup:
        {{ leaf.name }}-{{ pm.name }}:
{% for nic, interface in pm.physical.nics.items() %}
          {{ nic }}: '{{ pm.physical.mac if nic == 'nic1' else interface }}'
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
