parameter_defaults:
  OvercloudControllerFlavor: control
  OvercloudComputeFlavor: compute
  ControllerCount: {{ vms | selectattr("profile", "equalto", "control") | list | count }}
  ComputeCount: {{ vms | selectattr("profile", "equalto", "compute") | list | count }}
