#/bin/bash

{% set ext = networks | selectattr('name', 'search', 'RHOSPVirtLab_external') | list | first %}
{% set ext_addr = ext.ipv4.address ~ '/' ~ ext.ipv4.netmask %}
{% set rhel_image_name = 'rhel' ~ RHOSP_version_supported[RHOSP_version].rhel_release %}
{% set rhel_image_file = RHOSP_version_supported[RHOSP_version].rhel_image.name %}

{% set dpdk_count = (physical | selectattr("profile", "equalto", "computeovsdpdk") | list | count) %}
{% set sriov_count = ((physical | selectattr("profile", "equalto", "computesriov") | list | count) + (physical | selectattr("profile", "equalto", "computeovshwoffload") | list | count)) %}

################################################################################
### Default domain specifics and shared ########################################
################################################################################

source ~/stackrc

SERVERS=$(openstack server list -f value -c Name)

source /home/stack/overcloudrc

# Domain
openstack domain create RHOSPVirtLab --or-show

# Project
openstack project create --domain RHOSPVirtLab test-project --or-show

# User and roles
openstack user create --domain RHOSPVirtLab --project test-project --project-domain RHOSPVirtLab --password redhat --description "Test project admin" test-admin --or-show
openstack role add --domain RHOSPVirtLab --user test-admin --user-domain RHOSPVirtLab admin
openstack role add --project test-project --user test-admin --user-domain RHOSPVirtLab admin

# External network
openstack network show default-provider &>/dev/null || openstack network create --share --external --provider-network-type flat --provider-physical-network datacentre default-provider
openstack subnet show default-provider-subnet &>/dev/null || openstack subnet create --subnet-range {{ ext_addr | ipaddr('network/prefix') }} --gateway {{ ext.ipv4.address }} --network default-provider --allocation-pool start={{ ext_addr | ipmath(99) }},end={{ ext_addr | ipmath(249) }} default-provider-subnet 

# Flavors
openstack flavor show small_2_2_20 &>/dev/null || openstack flavor create --ram 2048 --disk 20 --vcpus 2 --public small_2_2_20
openstack flavor show small_1_1_10 &>/dev/null || openstack flavor create --ram 1024 --disk 10 --vcpus 1 --public small_1_1_10
openstack flavor show small_2_2_20_pinned &>/dev/null || openstack flavor create --ram 2048 --disk 20 --vcpus 2 --property hw:cpu_policy=dedicated --property hw:mem_page_size=large --public small_2_2_20_pinned

# Images
openstack image show '{{ rhel_image_name }}' &>/dev/null || openstack image create --disk-format qcow2 --min-disk 12 --min-ram 1536 --file images/{{ rhel_image_file }} --public '{{ rhel_image_name }}'
openstack image show CirrOS &>/dev/null || openstack image create --disk-format qcow2 --file images/cirros.qcow2 --public CirrOS

{% if DeployOctavia %}
# Octavia configuration
openstack loadbalancer flavorprofile show amphora-single-profile &>/dev/null || openstack loadbalancer flavorprofile create --name amphora-single-profile --provider amphora --flavor-data '{"loadbalancer_topology": "SINGLE"}'
openstack loadbalancer flavor show standalone-lb &>/dev/null || openstack loadbalancer flavor create --name standalone-lb --flavorprofile amphora-single-profile --description "A non-high availability load balancer for testing."
{% endif %}

# Aggregates
{% if dpdk_count > 0 %}
openstack aggregate show dpdk_hosts &>/dev/null || (openstack aggregate create dpdk_hosts && openstack aggregate set --property dpdk=true dpdk_hosts)
for HOST in $SERVERS; do
  if [[ $HOST == *"dpdk"* ]]; then
    openstack aggregate add host dpdk_hosts $HOST.localdomain
  fi
done
{% endif %}

{% if sriov_count > 0 %}
openstack aggregate show sriov_hosts &>/dev/null || (openstack aggregate create sriov_hosts && openstack aggregate set --property sriov=true sriov_hosts)
for HOST in $SERVERS; do
  if [[ $HOST == *"sriov"* ]]; then
    openstack aggregate add host sriov_hosts $HOST.localdomain
  fi
done
{% endif %}

################################################################################
### RHOSPVirtLab domain specifics ##############################################
################################################################################

if [ ! -f /home/stack/RHOSPVirtLabrc ]; then
  cp /home/stack/overcloudrc /home/stack/RHOSPVirtLabrc
  sed -i 's/OS_USERNAME=admin/OS_USERNAME=test-admin/' /home/stack/RHOSPVirtLabrc
  sed -i 's/OS_PROJECT_NAME=admin/OS_PROJECT_NAME=test-project/' /home/stack/RHOSPVirtLabrc
  sed -i 's/DOMAIN_NAME=Default/DOMAIN_NAME=RHOSPVirtLab/' /home/stack/RHOSPVirtLabrc
  sed -i 's/OS_PASSWORD=.*/OS_PASSWORD=redhat/' /home/stack/RHOSPVirtLabrc
fi

source /home/stack/RHOSPVirtLabrc

# Keypairs
openstack keypair show undercloud-key &>/dev/null || openstack keypair create --public-key /home/stack/.ssh/id_rsa.pub undercloud-key

# Server groups
openstack server group show affinity-group &>/dev/null || openstack server group create --policy affinity affinity-group
openstack server group show anti-affinity-group &>/dev/null || openstack server group create --policy anti-affinity anti-affinity-group
openstack server group show soft-affinity-group &>/dev/null || openstack server group create --policy soft-affinity soft-affinity-group
openstack server group show soft-anti-affinity-group &>/dev/null || openstack server group create --policy soft-anti-affinity soft-anti-affinity-group

# Networking
openstack network show test-network &>/dev/null || openstack network create test-network
openstack subnet show test-subnet &>/dev/null || openstack subnet create --network test-network --subnet-range 192.168.1.0/24 --gateway 192.168.1.1 --dhcp test-subnet
openstack port show test-subnet-gw &>/dev/null || openstack port create --network test-network --fixed-ip subnet=test-subnet,ip-address=192.168.1.1 test-subnet-gw
openstack router show test-router &>/dev/null || (openstack router create test-router && openstack router set --external-gateway default-provider test-router && openstack router add port test-router test-subnet-gw)

# Add SSH and ICMP to default security group
SECGROUP=$(openstack security group list | grep default | grep $(openstack project show test-project -f value -c id) | awk '{print $2}')
openstack security group rule list $SECGROUP | grep 22:22 || openstack security group rule create $SECGROUP --protocol tcp --dst-port 22:22 --remote-ip 0.0.0.0/0
openstack security group rule list $SECGROUP | grep icmp || openstack security group rule create $SECGROUP --protocol icmp
