#/bin/bash

{% set ext = networks | selectattr('name', 'search', 'RHOSPVirtLab_external') | list | first %}
{% set ext_addr = ext.ipv4.address ~ '/' ~ ext.ipv4.netmask %}
{% set rhel_image_name = 'rhel' ~ RHOSP_version_supported[RHOSP_version].rhel_release %}
{% set rhel_image_file = RHOSP_version_supported[RHOSP_version].rhel_image.name %}

source /home/stack/overcloudrc
# Domain
openstack domain create RHOSPVirtLab --or-show

# Project
openstack project create --domain RHOSPVirtLab test-project --or-show

# User and roles
openstack user create --domain RHOSPVirtLab --project test-project --project-domain RHOSPVirtLab --password redhat --description "Test project admin" test-admin --or-show
openstack role add --domain RHOSPVirtLab --user test-admin --user-domain RHOSPVirtLab admin
openstack role add --project test-project --user test-admin --user-domain RHOSPVirtLab admin

# External network
openstack network show default-provider || openstack network create --share --external --provider-network-type flat --provider-physical-network datacentre default-provider
openstack subnet show default-provider-subnet || openstack subnet create --subnet-range {{ ext_addr | ipaddr('network/prefix') }} --no-dhcp --gateway {{ ext.ipv4.address }} --network default-provider --allocation-pool start={{ ext_addr | ipmath(99) }},end={{ ext_addr | ipmath(249) }} default-provider-subnet 

# Flavors
openstack flavor show small_2_2_20 || openstack flavor create --ram 2048 --disk 20 --vcpus 2 --public small_2_2_20
openstack flavor show small_1_1_10 || openstack flavor create --ram 1024 --disk 10 --vcpus 1 --public small_1_1_10

# Images
openstack image show '{{ rhel_image_name }}' || openstack image create --disk-format qcow2 --min-disk 12 --min-ram 1536 --file images/{{ rhel_image_file }} --public '{{ rhel_image_name }}'
openstack image show CirrOS || openstack image create --disk-format qcow2 --file images/cirros.qcow2 --public CirrOS
