#/bin/bash

source /home/stack/stackrc

{% if leaf.name == DefaultLeaf0.name %}
{% set templates_dir='/home/stack/templates' %}

# Auto source and completion
if [ ! -f /usr/share/bash-completion/completions/openstack ]; then
  openstack complete 2>/dev/null | sudo tee /usr/share/bash-completion/completions/openstack
fi

if ! grep -Fxq "source /home/stack/stackrc" /home/stack/.bashrc; then
  echo "source /home/stack/stackrc" >> /home/stack/.bashrc
fi

if ! grep -Fxq "source /usr/share/bash-completion/completions/openstack" /home/stack/.bashrc; then
  echo "source /usr/share/bash-completion/completions/openstack" >> /home/stack/.bashrc
fi

# Prepare the overcloud
openstack overcloud image upload --image-path /home/stack/images/
openstack image list --fit-width

{% else %}
{% set templates_dir="/home/stack/templates/" ~ leaf.name %}
{% endif %}

{% if RHOSP_version == 17.0 %}
# Provision networks and vips
{% if leaf.name == DefaultLeaf0.name %}
openstack overcloud network provision -y --output /home/stack/templates/overcloud-networks-deployed.yaml /home/stack/templates/network_data.yaml
{% endif %}
openstack overcloud network vip provision -y --stack {{ leaf.name }} --output {{ templates_dir }}/overcloud-vip-deployed.yaml {{ templates_dir }}/vip_data.yaml
{% endif %}

# Prepare baremetal nodes
openstack overcloud node import {{ templates_dir }}/instackenv.yaml
openstack baremetal node list
openstack baremetal node list -f value -c Name -c 'Power State' | grep 'power on' | grep 'manageable' | awk {'system("openstack baremetal node power off "$1)'}
openstack baremetal node list

# Introspect baremetal nodes
openstack overcloud node introspect --all-manageable --provide
openstack baremetal node list


# Prepare images
{% if RHOSP_version == 13.0 %}
{% if rh_serviceaccount and rh_token %}
sudo docker login registry.redhat.io --username '{{ rh_serviceaccount }}' --password '{{ rh_token }}'
{% else %}
sudo docker login registry.redhat.io --username '{{ rh_username }}' --password '{{ rh_password }}'
{% endif %}
sudo openstack overcloud container image prepare \
-e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/neutron-ovs-dpdk.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/neutron-sriov.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/neutron-ovn-dvr-ha.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/services-docker/octavia.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-ansible.yaml \
--set ceph_namespace=registry.redhat.io/rhceph \
--set ceph_image=rhceph-3-rhel7 \
--namespace=registry.redhat.io/rhosp13 \
--prefix=openstack- \
--push-destination=192.168.24.1:8787 \
--tag-from-label {version}-{release} \
--output-env-file {{ templates_dir }}/overcloud-images.yaml \
--output-images-file /home/stack/local_registry_images.yaml
sudo openstack overcloud container image upload \
--config-file /home/stack/local_registry_images.yaml \
--verbose
{% elif RHOSP_version == 17.0 %}
sudo openstack tripleo container image prepare \
-e /home/stack/containers-prepare-parameter.yaml \
--output-env-file {{ templates_dir }}/overcloud-images.yaml
{% else %}
sudo openstack tripleo container image prepare \
{% if leaf.name != DefaultLeaf0.name %}
-e /home/stack/templates/overcloud-export.yaml \
{% endif %}
-e /home/stack/containers-prepare-parameter.yaml \
--output-env-file {{ templates_dir }}/overcloud-images.yaml
{% endif %}

{% if RHOSP_version == 17.0 %}
# Provision nodes
openstack overcloud node provision -y --stack {{ leaf.name }} --network-config --output {{ templates_dir }}/overcloud-baremetal-deployed.yaml {{ templates_dir }}/node-info.yaml
{% endif %}