[DEFAULT]
#additional_architectures =
#auth_token_lifetime = 14400
#certificate_generation_ca = local
#clean_nodes = false
#cleanup = true
#container_cli = podman
#container_healthcheck_disabled = false
container_images_file = /home/stack/containers-prepare-parameter.yaml
#container_insecure_registries =
#container_registry_mirror =
custom_env_files = /home/stack/custom-undercloud-params.yaml
#deployment_user = <None>
#discovery_default_driver = ipmi
#docker_bip = --bip=172.31.0.1/24
#enable_cinder = false
#enable_ironic = true
#enable_ironic_inspector = true
#enable_mistral = true
enable_node_discovery = true
#enable_nova = true
#enable_novajoin = false
{% if DCNLeafs | length > 0 %}
enable_routed_networks = true
{% else %}
#enable_routed_networks = false
{% endif %}
#enable_swift_encryption = false
#enable_telemetry = false
#enable_tempest = true
#enable_validations = true
#enable_zaqar = true
{% if RHOSP_version == 13.0 %}
enabled_drivers = pxe_ipmitool,pxe_drac,pxe_ilo,fake_pxe
{% else %}
enabled_hardware_types = ipmi,redfish,ilo,idrac,manual-management
{% endif %}
#generate_service_certificate = true
#heat_container_image =
#heat_native = true
#hieradata_override =
#inspection_extras = true
#inspection_interface = br-ctlplane
#inspection_runbench = false
#ipa_otp =
#ipv6_address_mode = dhcpv6-stateless
#ipxe_enabled = true
#ironic_default_network_interface = flat
#ironic_enabled_network_interfaces = flat
local_interface = eth0
local_ip = {{ DefaultLeaf0.subnet.cidr | ipaddr('1') }}
#local_mtu = 1500
local_subnet = {{ DefaultLeaf0.subnet.name }}
#net_config_override = 
#networks_file = <None>
#output_dir = /builddir
overcloud_domain_name = localdomain
#roles_file = <None>
#scheduler_max_attempts = 30
#service_principal =
{% if DCNLeafs | length > 0 %}
subnets = {{ DefaultLeaf0.subnet.name }},{% for leaf in DCNLeafs %}{{ leaf.subnet.name }}{% if not loop.last %},{% endif %}{% endfor %}

{% else %}
#subnets = {{ DefaultLeaf0.subnet.name }}
{% endif %}
#templates =
undercloud_admin_host = {{ DefaultLeaf0.subnet.cidr | ipaddr('3') | ipaddr('address') }}
#undercloud_debug = true
#undercloud_enable_paunch = true
#undercloud_enable_selinux = true
#undercloud_hostname = <None>
#undercloud_log_file = install-undercloud.log
undercloud_nameservers = {{ dns_servers | join(',') }}
undercloud_ntp_servers = {{ ntp_servers | join(',') }}
undercloud_public_host = {{ DefaultLeaf0.subnet.cidr | ipaddr('2') | ipaddr('address') }}
#undercloud_service_certificate =
#undercloud_timezone = <None>
#undercloud_update_packages = false
#upgrade_cleanup = false

[{{ DefaultLeaf0.subnet.name }}]
cidr = {{ DefaultLeaf0.subnet.cidr }}
dhcp_end = {{ DefaultLeaf0.subnet.dhcp_end }}
#dhcp_exclude =
dhcp_start = {{ DefaultLeaf0.subnet.dhcp_start }}
#dns_nameservers =
gateway = {{ DefaultLeaf0.subnet.gateway }}
#host_routes = [{destination: 10.10.10.0/24, nexthop: 192.168.24.1}]
inspection_iprange = {{ DefaultLeaf0.subnet.inspection_iprange }}
masquerade = {{ DefaultLeaf0.subnet.masquerade }}

{% for leaf in DCNLeafs %}
[{{ leaf.subnet.name }}]
cidr = {{ leaf.subnet.cidr }}
dhcp_end = {{ leaf.subnet.dhcp_end }}
#dhcp_exclude =
dhcp_start = {{ leaf.subnet.dhcp_start }}
#dns_nameservers =
gateway = {{ leaf.subnet.gateway }}
#host_routes = [{destination: 10.10.10.0/24, nexthop: 192.168.24.1}]
inspection_iprange = {{ leaf.subnet.inspection_iprange }}
masquerade = {{ leaf.subnet.masquerade }}
{% endfor %}