- network: storage_mgmt
  dns_name: overcloud
  subnet: storage_mgmt_subnet
- network: internal_api
  dns_name: overcloud
  subnet: internal_api_subnet
- network: storage
  dns_name: overcloud
  subnet: storage_subnet
- network: external
  dns_name: overcloud
  subnet: external_subnet
  ip_address: {{ overcloud_ip }}
- network: ctlplane
  dns_name: overcloud